<div class="box">
    <section _ngcontent-fqr-c112="" class="about-us"><div _ngcontent-fqr-c112=""
            class="about_us_info about-content-center"><h1
                _ngcontent-fqr-c112="" class="about-us-title"> About
                Cook-a-Doddle... </h1><div _ngcontent-fqr-c112=""
                class="about_cad_banner_container"><p _ngcontent-fqr-c112=""
                    class="about_us_para"> Cook-a-Doddle offers a bespoke
                    culinary experience in the comfort of individuals' homes,
                    facilitated through simple and easy to use technology. We
                    offer a tasteful, friendly and personalized service. Our
                    goal is to allow our customers to create memorable dining
                    experiences they can enjoy with their loved ones, friends,
                    colleagues from the comfort and safety of their own home.
                </p><p _ngcontent-fqr-c112="" class="about_us_para"> We
                    currently offer our services in and around Greater London.
                </p><h3 _ngcontent-fqr-c112="" class="about-personalise_title">
                    How our service personalised… </h3><p _ngcontent-fqr-c112=""
                    class="about_us_para"> At Cook-a-Doddle we get to know our
                    customers and provide a personalised fine dining experience
                    that they can cherish whatever the occasion. </p><p
                    _ngcontent-fqr-c112="" class="about_us_para"> The menu is
                    customised after carefully considering our customers’
                    dietary requirements &amp; culinary preferences. The
                    ingredients are handpicked and we take utmost care to ensure
                    they are as fresh as possible. On the day of the service our
                    talented chefs deliver a personalised &amp; memorable
                    experience that our customers can relish. </p><h3
                    _ngcontent-fqr-c112="" class="about-personalise_title"> Why
                    Choose Us </h3><details _ngcontent-fqr-c112=""><summary
                        _ngcontent-fqr-c112="" class="about_us_para"
                        style="font-style: italic; font-weight: bold; cursor:
                        pointer;"><i _ngcontent-fqr-c112="" class="fas
                            fa-plus-circle"></i> You love the idea of fine
                        dining but need to organise child care, transportation
                        etc. before getting started on booking the restaurant ?
                    </summary><p _ngcontent-fqr-c112="" class="about_us_para">
                        We save you the hassle and bring the restaurant over to
                        you. </p></details><details _ngcontent-fqr-c112=""><summary
                        _ngcontent-fqr-c112="" class="about_us_para"
                        style="font-style: italic; font-weight: bold; cursor:
                        pointer;"><i _ngcontent-fqr-c112="" class="fas
                            fa-plus-circle"></i> You like to entertain at home
                        but when you do host, you have little time to relax and
                        actually enjoy the experience ? </summary><p
                        _ngcontent-fqr-c112="" class="about_us_para"> At
                        Cook-a-Doodle we host you in your own home so you can
                        relax and enjoy spending quality time with your guests.
                    </p></details><details _ngcontent-fqr-c112=""><summary
                        _ngcontent-fqr-c112="" class="about_us_para"
                        style="font-style: italic; font-weight: bold; cursor:
                        pointer;"><i _ngcontent-fqr-c112="" class="fas
                            fa-plus-circle"></i> You have dietary requirements
                        which can not always be catered for ? </summary><p
                        _ngcontent-fqr-c112="" class="about_us_para"> We get to
                        know your culinary preferences and dietary requirements
                        to customise the dining experience for you. </p></details></div><div
                _ngcontent-fqr-c112="" class="about_me_container"><br><div
                    _ngcontent-fqr-c112="" class="about_me_img_container" style="margin: auto;justify-content: center;justify-items: center;text-align: center;"><video
                        _ngcontent-fqr-c112="" controls=""
                        class="journey-video-content" width="40%"><source
                            _ngcontent-fqr-c112=""
                            src="assets\videos\founder_jrny_new.mp4"
                            type="video/mp4"></video></div><div
                    _ngcontent-fqr-c112="" class="about_me_info_container"><h1
                        _ngcontent-fqr-c112="" id="my-story"
                        class="about-us-title"> My Story </h1><p
                        _ngcontent-fqr-c112="" class="about_us_para"> I am Jigna
                        Parmar, a doting mother and the founder of
                        Cook-a-Doddle. Thank you for your interest in
                        Cook-a-Doddle. I would like to share my story and
                        experiences with you. </p><p _ngcontent-fqr-c112=""
                        class="about_us_para"> I grew up in Kolkata, India and
                        came to the U.K. to study Economics twenty years ago.
                        During the early part of my journey in the U.K., I did a
                        variety of part time jobs like waitressing, working in
                        call centres etc. to earn money. Each of these
                        experiences taught me many lessons, in particular the
                        value of hard work and money. </p><p
                        _ngcontent-fqr-c112="" class="about_us_para"> After
                        graduating, I embarked on a fifteen year career with a
                        leading investment bank. For me work was always
                        rewarding, challenging and gave me a real sense of
                        belonging to a great organisation, an opportunity to
                        work with talented people and association with a global
                        brand. Amidst this enriching professional journey, I
                        also had big changes in my personal life; I got married
                        and was blessed with two beautiful children. </p></div></div><p
                _ngcontent-fqr-c112="" class="about_us_para"> Work was always my
                constant, my place of comfort. It is hard to express in words
                how much my fifteen year long career gave me but all I can say
                is that I was able to find who I truly was through the journey I
                had been on. </p><p _ngcontent-fqr-c112=""
                class="about_us_para"> Life is like a treasure hunt and you
                finally find the treasure when you find the real you. It is
                about making the time to connect with yourself and understanding
                what your sense of purpose is in life. </p><p
                _ngcontent-fqr-c112="" class="about_us_para"> I am a real
                foodie, my fondest childhood memories are all centered around
                food. I love using new technology and have always embraced the
                new market experiences. I find that my energy is magnified when
                I am able to put smiles on peoples’ faces. I knew that being
                able to deliver a fine culinary experience that people could
                cherish facilitated through technology was what I wanted to do.
                This gave birth to the idea of ‘Cook-a-Doddle’ which is an
                expression of the real ‘me’. </p><p _ngcontent-fqr-c112=""
                class="about_us_para"> In early 2020 I decided to pursue my
                passion; to be honest, I can’t really put my finger on why then
                but it felt like the right time. I decided to walk away from my
                successful career and follow my passion and take a risk. There
                was a voice inside of me that reminded me that life is too
                short. If we didn’t live to catch our dreams then we probably
                never lived. With the idealism I also needed to be practical
                from a financial perspective and very fortunately I had my
                partner’s support. He encouraged me to step outside my comfort
                zone and take the leap of faith. That’s all I needed. </p><p
                _ngcontent-fqr-c112="" class="about_us_para"> I handed in my
                resignation and started off to become the beginner again.
                Cook-a-Doddle was registered on 30th March 2020 and was set up
                during the COVID-19 pandemic. From a well-respected, valued
                member of a large team I became a lonely entrepreneur; from a
                fancy office I was now working out of my living room; the only
                team there was me, myself and I. </p><h1 _ngcontent-fqr-c112=""
                id="entrepreneurship-title" class="about-us-title"> What I have
                learnt on my entrepreneurship journey to date… </h1><div
                _ngcontent-fqr-c112="" class="about_me_container"><div
                    _ngcontent-fqr-c112="" class="about_me_info_container"><p
                        _ngcontent-fqr-c112="" class="about_us_para"><span
                            _ngcontent-fqr-c112=""
                            class="my_entrepreneurship_title"
                            style="margin-bottom: 1.3rem; display:
                            inline-block;"> Take the risk </span><br
                            _ngcontent-fqr-c112=""> Taking a risk to start your
                        business amidst a pandemic when established businesses
                        are finding it difficult to sustain can be very
                        frightening. But change also brings new opportunities.
                        Stay positive - the hardest of times can bring out the
                        best in you. </p><p _ngcontent-fqr-c112=""
                        class="about_us_para"><span _ngcontent-fqr-c112=""
                            class="my_entrepreneurship_title"> Don’t be daunted
                            by how far your goal is; keep looking back and
                            reflect on the journey you have been on. </span> Be
                        grateful and be kind to yourself. </p><p
                        _ngcontent-fqr-c112="" class="about_us_para"><span
                            _ngcontent-fqr-c112=""
                            class="my_entrepreneurship_title"> It can be
                            isolating being an entrepreneur but when you look
                            around there are many who are there to lift your
                            spirits and support you. </span> Take the time to
                        connect with people and leverage your support network.
                        It can do wonders for you. </p><p _ngcontent-fqr-c112=""
                        class="about_us_para"><span _ngcontent-fqr-c112=""
                            class="my_entrepreneurship_title"> There are many
                            online courses and support programs available for
                            new start-ups: </span> I took advantage of this and
                        was able to get an incredible amount of support. </p></div><div
                    _ngcontent-fqr-c112="" class="about_me_img_container"><img
                        _ngcontent-fqr-c112="" src="assets\client_img_two.jpeg"
                        alt="" class="client_second_img"></div></div><p
                _ngcontent-fqr-c112="" class="about_us_para"><span
                    _ngcontent-fqr-c112="" class="my_entrepreneurship_title">
                    Enjoy the simple pleasures of life &amp; try to maintain the
                    right work-life balance: </span> Amidst setting up the
                business, I took regular breaks to enjoy the simple pleasures of
                life like cooking for my family, reading, doing art &amp; crafts
                with my sons, walking in the park. I have become a lot more
                mindful about looking after myself - my body, my mind and soul
                through regular exercise, yoga and meditating. Through this
                experience I learnt that it is important to have the right
                work-life balance. </p><p _ngcontent-fqr-c112="" id="last_para"
                class="about_us_para"> When I reflect back, yes it’s been a very
                different year. There has been a lot outside my control but yet
                there has been a lot in my control. It is important we use our
                time wisely and keep working hard to make our dreams come true.
                Don’t give up! </p></div></section>
</div>
