<div class="box">
    <section _ngcontent-nyi-c116="" class="about-us"><div _ngcontent-nyi-c116=""
            class="covid_19_info content-center"><h1 _ngcontent-nyi-c116=""
                class="covid-title"> COVID-19 Safety Measures </h1><p
                _ngcontent-nyi-c116="" class="covid-para"> Your safety is very
                important to us and hence we request you to follow the below
                guidelines. </p><p _ngcontent-nyi-c116="" class="covid-para"> 1)
                Ensure you are well when booking your experience with us- please
                do not book if you or anyone in your household is unwell and
                needs to self-isolate. </p><p _ngcontent-nyi-c116=""
                class="covid-para"> 2) Make space and stay at least 2 metres
                apart with people you do not live with - or 1 metre with a face
                covering or other precautions, please avoid close contact with
                the chef. </p><p _ngcontent-nyi-c116="" class="covid-para"> 3)
                Please keep your home well ventilated, open windows in and
                around the areas the chef will be cooking in. </p><p
                _ngcontent-nyi-c116="" class="covid-para"> 4) Wash your hands
                regularly and for 20 seconds. </p><p _ngcontent-nyi-c116=""
                class="covid-para"> 5) Wear face coverings when using common
                areas in your home. </p><div _ngcontent-nyi-c116=""
                class="govt-para"><p _ngcontent-nyi-c116="" class="covid-para">
                    Please note that our chefs won’t work if they or anyone in
                    their household needs to self-isolate. </p><p
                    _ngcontent-nyi-c116="" class="covid-para"> Our chefs have
                    received the COVID-19 safety briefing and will take all the
                    necessary precautions to ensure your or their safety is not
                    compromised whilst delivering the experience. </p></div><div
                _ngcontent-nyi-c116="" class="govt-para"><p
                    _ngcontent-nyi-c116="" class="covid-para"> Refer to the
                    Government Guidelines for further information </p><p
                    _ngcontent-nyi-c116="" class="covid-para"><a
                        _ngcontent-nyi-c116=""
                        href="https://www.gov.uk/guidance/working-safely-during-coronavirus-covid-19/homes"
                        target="_blank" style="color: #B09044;">
                        https://www.gov.uk/guidance/working-safely-during-coronavirus-covid-19/homes
                    </a></p></div><p _ngcontent-nyi-c116="" id="last-para"
                class="covid-para"> If you have any questions, please get in
                touch with us by emailing <span _ngcontent-nyi-c116=""
                    style="color: #B09044;"> info@cookadoddle.com </span></p></div></section>
</div>