.box
{
    position: absolute;
}
section
{
    width: 85%;
    margin: 50px auto;
    justify-content: left;
    justify-items: left;
    text-align: left;
}
p{
    font-size: 15px;
    justify-content: left;
    justify-items: left;
    line-height: 1.68; 
    text-align: justify;
}
table td
{
    padding: 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
table
{
    width: 70%;
    margin: auto;
    border-collapse: collapse; 
    
}
@media screen and (max-width:650px) {
    table {
        width: 70%;
        margin: auto;
        border-collapse: collapse; 
     
    }

  }
  .table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

@media screen and (max-width: 650px) {
    table {
        width: 0%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
        background-color: beige;
    }
   
}