.box
{
    position: absolute;
}
section
{
    width: 85%;
    margin: 50px auto;
    justify-content: left;
    justify-items: left;
    text-align: left;
}
p{
    font-size: 15px;
    justify-content: left;
    justify-items: left;
    line-height: 1.68; 
    text-align: justify;
}
table td
{
    padding: 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    overflow: hidden; 
}
table
{
    width: 100%;
    margin: auto;
    border-collapse: collapse; 
    table-layout:fixed;
}

